.bodySectionOne {
  /* border: 2px solid red; */
  width: 100%;
  height: 41%;
  padding: 0px 2% 1% 2%;
  display: flex;
}
.vParkContainer {
  /* border: 2px solid red; */
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 20px;
  padding: 2%;
}

.vParkContainerHeader {
  /* border: 1px solid red; */
  padding-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.vParkContainerHeaderIcons {
  /* border: 1px solid#E7F0F9; */
  width: 17%;
  display: flex;
  justify-content: space-evenly;
}
.SquareMenu {
  background: #f6f8fd;
  display: flex;
  place-content: center;
  place-items: center;
  width: 45%;
  border-radius: 15px;
  cursor: pointer;
}

.HamburgerMenu {
  composes: SquareMenu;
}
.SmartVehiclesList{
height: 100%;
overflow-y: auto;
}
.SmartVehiclesList::-webkit-scrollbar {
  width: 1px;
}
.SmartVehiclesList::-webkit-scrollbar-track {
  background-color: transparent;
}
.SmartVehiclesList::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
}
@media screen and (max-width: 768px) {
  .bodySectionOne {
    height:200vh;
    flex-direction: column;
    padding-bottom: 0px;
  }
  .vParkContainer {
    width: 100%;
    height: 40%;
/* border: 1px solid red;  */
 }
}