.conatinerStyle{
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-70%);
  width: 120px;
  height: 110px;
  display: flex;
  place-content: center;
  place-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #ffffff;
  box-shadow: 0px 8px 30px #083F5F3D;
}
.inactive {
  composes: conatinerStyle;
  opacity: 0 !important;
  transition: opacity 0.3s ease !important;
}
.active{
  composes: conatinerStyle;
  opacity: 1 !important;
  transition: opacity 0.3s ease !important;
}
.contentDiv {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  justify-content: space-evenly;
  height: 80%;
  width: 80%;
  /* border: 1px solid black; */
}
.contentDiv div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

.contentDiv div:first-child {
  border-bottom: 1px solid #00000014;
}
