.container {
  display: flex;
  justify-content: space-between !important;
  place-items: center;
  place-content: center;
  text-align: center;
  border: 1px solid red;
  width: 100%;
  height: 10vh;
  position: relative;
}
.logo_div {
  display: flex;
}
.logo_div_txt {
  text-align: left;
  font-family: "Noto Sans Nandinagari", sans-serif;
  font-weight: bolder;
  font-size: 2rem;
  color: #081836;
}
.SearchInputContainer {
  width: 15vw;
  display: flex;
  text-align: center;
  place-items: center;
  place-content: center;
  height: 7vh;
  background: #f6f8fd;
  border-radius: 15px;
}
.SearchInput {
  height: 82% ;
  width: 80%;
  padding-left: 10px;
  font-family: "Noto Sans Nandinagari", sans-serif;
  border: none;
  background: inherit;
  font-size: 16px;
  color: #999999c9;
}
.SearchInput:focus {
  outline: none;
  border: none;
}
.SearchInput::placeholder {
  font-family: "Noto Sans Nandinagari", sans-serif;
  font-size: 16px;
  color: #999999c9;
}
.SearchInputIcon {
  fill: #1785C6;
  stroke: #1785C6;
  cursor: pointer;
  stroke-width: 1.3;
  filter: drop-shadow(0px 5px 5px #1785c64d);
}

.rightSide {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 200px;
  width: 25vw;
}
.planetEarthContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6f8fd;
  width: 3.5vw;
  height: 7vh;
  border-radius: 15px;
}
.planetEarthIcon:hover {
  cursor: pointer;
}
.planetEarthContainerFullView {
  position: relative;
  display: flex;
  flex-direction: column;
}
.notificationFullView{
  composes: planetEarthContainerFullView;
  position: relative;

}
.notificationContainer{
  composes: planetEarthContainer;
  position: relative;

}
.redDotStyle{
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: none;
  background: #FB082C;
  top: 31%;
  left:55%;
}
.redDotActive{
  composes: redDotStyle;
  opacity: 1;
  transition: opacity ease .3s;
}
.redDotInactive{
  composes: redDotStyle;
  opacity: 0;
  transition: opacity ease .3s;
}